$black: #1D1D1D;
$weight-gray: #818181;
$light-white: #F3F3F3;
$white: #FFFFFF;
$red: #FE3434;
$weight-red: rgb(202, 42, 42);
$blue: #347EFE;
$light-blue: #5591F9;

$head-color: $black;
$body-color: $weight-gray;

$border-color: rgb(214, 214, 214);

$bg-darkness: rgba(0, 0, 0, 0.3);
